<nav class="navbar navbar-expand-lg " style="margin-top: -35px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="user/images/logo_white.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span><img src="/user/images/icons8-menu-32 1.png"></span>
        </button>

        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto " style="z-index: 99;">
                <li class="nav-item">
                    <a class="nav-link mx-2 active text-white" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-white" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-white" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-white" href="/signup">Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-white" href="/login">Login</a>
                </li>

            </ul>
            <ul class="navbar-nav ms-auto d-none d-lg-inline-flex z-3 " style="z-index: 99;">
                <button type="button" class="btn text-white btn-rounded" style="border-radius: 30px;">Shop
                    Now</button>
            </ul>
        </div>
    </div>
</nav>