<div class="toast" id="toast">
    <div class="toast-content">
        <i class="fas fa-solid fa-check check"></i>
        <div class="message">
            <!-- Add this within the <div class="toast-content"> in your HTML template -->
            <span class="text text-1">

            </span>
            <span class="text text-2"> Please try again</span>

        </div>
    </div>
    <i class="fa-solid fa-xmark close"></i>
    <div class="progress"></div>
</div>