@font-face {
    font-family: 'outfit';
    src: url('/user/font/Outfit-Bold.ttf');
}

@font-face {
    font-family: 'outfit_regular';
    src: url('/user/font/Outfit-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;

    background-color: white !important;
}

.whole {
    display: flex;


}




.menu_items {
    width: 200px;
    height: 75vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items {
    display: flex;
    align-items: center;
    width: 150px;
    height: 40px;

    margin-top: 5px;


}

.items img {
    width: 24px;
    /* Adjust the image size as needed */
    height: 24px;
}

.tag {
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.673);
    /* Set text color as needed */
}


.hamburger-menu {
    position: inherit;
}

#menu__toggle {
    display: none;
    opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    right: 0 !important;
}

.menu__btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 85%;
    border-radius: 15px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: rgb(32, 32, 32);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.img-thumbnail {
    background-color: rgb(32, 32, 32) !important;
}

.menu__item:hover {
    background-color: rgba(255, 255, 255, 0.245);
}

.navbar {

    z-index: 99 !important;

}

.btn {

    font-family: 'outfit_regular' !important;
    color: white;
    z-index: 1;
}


.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.menu {

    height: 100vh;
    width: 200px;
    border-right: 1px solid rgba(0, 0, 0, 0.499);
    background-color: white !important;
    z-index: 99;

}

.items:hover {
    background-color: rgba(0, 0, 0, 0.16);
    cursor: pointer;
    border-radius: 5px;
}

a {
    text-decoration: none !important;
}

.error {
    font-family: 'outfit_regular';
    color: red;
    font-size: 12px;
}

::-webkit-scrollbar {
    display: none;
}

.main {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.order-details {
    width: 82%;
    height: 190px;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 247);
    overflow-y: scroll;
    margin-top: 60px;
    gap: 10px;
}

th {
    border: 1px 1px 0px 0px solid grey;
    height: 40px;
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;

}

tr {
    margin-top: 10px;
    border: 1px solid grey;
    height: 60px;

}

.address_actions {
    width: 90%;
    height: 400px;
    display: flex;
    background-color: red;
    margin-top: 60px;

}

/* address */
.address {
    width: 50%;
    background-color: rgb(245, 245, 247);
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 10px;
}

.address .address-card {
    width: calc(50% - 20px);
    width: 90%;
    min-height: 310px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.font1 {
    font-family: 'outfit';
    color: black;
    font-size: 20px;
    margin-left: 20px;
}

.font2 {
    font-size: 'outfit_regular';
    color: rgba(0, 0, 0, 0.562);
    font-size: 15px;
    margin-left: 20px;
}

.font3 {
    font-family: 'outfit';
    color: rgba(0, 0, 0, 0.519);
    font-size: 25px;

}

.font4 {
    font-family: 'outfit_regular';
    color: rgba(100, 148, 237, 0.908);
}

.font6 {
    font-size: 'outfit_regular';
    color: rgba(0, 0, 0, 0.562);
    font-size: 18px;
    margin-left: 20px;
}

.addaddress {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.actions {
    width: 50%;
    height: auto;
    background-color: rgb(245, 245, 247);
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 10px;
}

.action-actions {
    width: calc(50% - 20px);
    width: 90%;
    padding-top: 30px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    display: flex;

    gap: 20px;
    align-items: start;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
}

.left {
    width: 50%;
    height: 100%;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.right {
    width: 50%;
    height: 100%;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 10px;
}

@media (max-width: 576px) {
    .whole {
        display: flex;
        flex-direction: column;
    }

}