<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OTP Verification Form</title>
  <link rel="stylesheet" href="/user/css/otp.css" />
  <!-- Boxicons CSS -->
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

</head>

<body>
  <%- include('../partials/user/toast') %>
    <div class="container">
      <header>
        <i class="bx bxs-check-shield"></i>
      </header>
      <h4>Enter OTP Code</h4>

      <div class="input-field">
        <input type="number" id="digitone" name="digitone" />
        <input type="number" id="digittwo" name="digittwo" disabled />
        <input type="number" id="digitthree" name="digitthree" disabled />
        <input type="number" id="digitfour" name="digitfour" disabled />
      </div>

      <div class="otptimer">Otp Expires in:<span id="time">60</span>s</div>


      <button id="verifyOTP" style="display: block;" onclick="verify()">Verify OTP</button>

      <button id="resendOTP" onclick="resendOTP()" style="display: none;">Resend OTP</button>
    </div>

    <script>
      function startTimer(duration, display) {
        var timer = duration, seconds;
        var resendButton = document.getElementById('resendOTP');
        const verfiyButton = document.getElementById('verifyOTP')
        var intervalId = setInterval(function () {
          seconds = parseInt(timer % 60, 10);
          seconds = seconds < 10 ? '0' + seconds : seconds;
          display.textContent = seconds;

          if (--timer < 0) {
            clearInterval(intervalId);
            display.textContent = '00';
            resendButton.style.display = 'block';
            verfiyButton.style.display = "none"
          }
        }, 1000);
      }

      function resendOTP() {
        console.log('Resend button clicked');

        const url = '/forgetpassword';
        const email = '<%=email%>';
        console.log(email);

        const data = new URLSearchParams();
        data.append('email', email);

        fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
          },
          body: data,
        })
          .then(response => {
            if (response.ok) {
              console.log('Resending OTP...');
              var display = document.querySelector('#time');
              display.textContent = '60';





              document.getElementById('verifyOTP').style.display = 'block';
              document.getElementById('resendOTP').style.display = 'none';

              startTimer(60, display);
            } else {
              console.error('Failed to resend OTP.');
            }
          })
          .catch(error => {
            console.error('Error:', error);
          });
      }


      window.onload = function () {
        var sixtySeconds = 60,
          display = document.querySelector('#time');

        startTimer(sixtySeconds - 1, display);
      };

    </script>


    <script>
      function showToast(message) {
        const toast = document.querySelector(".toast");
        const progress = document.querySelector(".progress");

        toast.classList.add("active");
        progress.classList.add("active");

        setTimeout(() => {
          toast.classList.remove("active");
          progress.classList.remove("active");
        }, 5000);

        document.querySelector(".text-2").textContent = message;
      }


      //to show toast error
      const textfield = document.querySelector('.text-1');
      function isEmpty(value) {
        const trimmedValue = value.trim();
        return trimmedValue === "";
      }
      async function verify() {
        const digitone = document.getElementById('digitone')
        const digitonevalue = digitone.value;

        const digittwo = document.getElementById('digittwo')
        const digittwovalue = digittwo.value;

        const digitthree = document.getElementById('digitthree')
        const digitthreevalue = digitthree.value;
        const digitfour = document.getElementById('digitfour')
        const digitfourvalue = digitfour.value;

        let non_empty = true;
        if (isEmpty(digitone.value)) {
          non_empty = false;

        }
        if (isEmpty(digittwo.value)) {
          non_empty = false;

        }
        if (isEmpty(digitthree.value)) {
          non_empty = false;

        }
        if (isEmpty(digitfour.value)) {
          non_empty = false;

        }
        if (non_empty) {

          const url = '/forgetotp'
          const data = {
            digitone: digitonevalue,
            digittwo: digittwovalue,
            digitthree: digitthreevalue,
            digitfour: digitfourvalue
          }
          const response = await fetch(url, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
          });

          if (response.ok) {
            console.log("hello");
            const result = await response.json();

            window.location.href = '/user/resetpassword';
          } else {

            const errorData = await response.json();
            textfield.innerHTML = errorData.message
            showToast("please try again");
          }
        } else {

          textfield.innerHTML = "enter the otp"
          showToast("please try again");
        }
      }

      const inputs = document.querySelectorAll("input"),
        button = document.querySelector("button");


      inputs.forEach((input, index1) => {
        input.addEventListener("keyup", (e) => {


          const currentInput = input,
            nextInput = input.nextElementSibling,
            prevInput = input.previousElementSibling;


          if (currentInput.value.length > 1) {
            currentInput.value = "";
            return;
          }

          if (nextInput && nextInput.hasAttribute("disabled") && currentInput.value !== "") {
            nextInput.removeAttribute("disabled");
            nextInput.focus();
          }


          if (e.key === "Backspace") {

            inputs.forEach((input, index2) => {

              if (index1 <= index2 && prevInput) {
                input.setAttribute("disabled", true);
                input.value = "";
                prevInput.focus();
              }
            });
          }

          if (!inputs[3].disabled && inputs[3].value !== "") {
            button.classList.add("active");
            return;
          }
          button.classList.remove("active");
        });
      });


      window.addEventListener("load", () => inputs[0].focus());
    </script>

</body>

</html>