<nav class="navbar navbar-expand-lg navbar-custom position-fixed">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ml-auto">
            <li class="nav-item">
                <div class="d-flex justify-content-center align-items-center">
                    <form action="/admin/user_search" class="form-inline my-2 my-lg-0" method="GET">
                        <input class="form-control mr-sm-2" type="text" name="query" placeholder="Search..." aria-label="Search" style="width: 800px;">
                        <button class="btn btn-success" type="submit" style="width: 100px;">Search</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>
